In [7]:
import pandas as pd

In [8]:
path = 'US_Lightning_Forest_Fires.csv'
csv = pd.read_csv(path)
df = pd.DataFrame(csv)
df.head()

,Unnamed: 0,index,FIRE_YEAR,Fire_Date,DISCOVERY_TIME,STAT_CAUSE_DESCR,Days_to_extinguish_fire,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,FIPS_CODE,FIPS_NAME
0,0,1,2004,05-12-2004,845.0,Lightning,0.0,1530.0,0.25,A,38.933056,-120.404444,CA,61.0,Placer
1,1,3,2004,06-28-2004,1600.0,Lightning,5.0,1400.0,0.10,A,38.559167,-119.913333,CA,3.0,Alpine
2,2,4,2004,06-28-2004,1600.0,Lightning,5.0,1200.0,0.10,A,38.559167,-119.933056,CA,3.0,Alpine
3,3,5,2004,06-30-2004,1800.0,Lightning,1.0,1600.0,0.10,A,38.635278,-120.103611,CA,5.0,Amador
4,4,6,2004,07-01-2004,1800.0,Lightning,1.0,1400.0,0.10,A,38.688333,-120.153333,CA,17.0,El Dorado

In [9]:
columns_to_drop = ['Unnamed: 0', 'DISCOVERY_TIME', 'FIPS_CODE', 'FIPS_NAME', 'Days_to_extinguish_fire', 'FIPS_CODE', 'FIPS_NAME']
df2 = df.drop(columns=columns_to_drop)
df2.dtypes

index                 int64
FIRE_YEAR             int64
Fire_Date            object
STAT_CAUSE_DESCR     object
CONT_TIME           float64
FIRE_SIZE           float64
FIRE_SIZE_CLASS      object
LATITUDE            float64
LONGITUDE           float64
STATE                object
dtype: object

In [10]:
df2.dropna(subset=['CONT_TIME'])
df2.head()

,index,FIRE_YEAR,Fire_Date,STAT_CAUSE_DESCR,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE
0,1,2004,05-12-2004,Lightning,1530.0,0.25,A,38.933056,-120.404444,CA
1,3,2004,06-28-2004,Lightning,1400.0,0.10,A,38.559167,-119.913333,CA
2,4,2004,06-28-2004,Lightning,1200.0,0.10,A,38.559167,-119.933056,CA
3,5,2004,06-30-2004,Lightning,1600.0,0.10,A,38.635278,-120.103611,CA
4,6,2004,07-01-2004,Lightning,1400.0,0.10,A,38.688333,-120.153333,CA

In [11]:
df2['Fire_Date'] = pd.to_datetime(df['Fire_Date'], format='%m-%d-%Y', errors='coerce')
df2.head()

,index,FIRE_YEAR,Fire_Date,STAT_CAUSE_DESCR,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE
0,1,2004,2004-05-12,Lightning,1530.0,0.25,A,38.933056,-120.404444,CA
1,3,2004,2004-06-28,Lightning,1400.0,0.10,A,38.559167,-119.913333,CA
2,4,2004,2004-06-28,Lightning,1200.0,0.10,A,38.559167,-119.933056,CA
3,5,2004,2004-06-30,Lightning,1600.0,0.10,A,38.635278,-120.103611,CA
4,6,2004,2004-07-01,Lightning,1400.0,0.10,A,38.688333,-120.153333,CA

In [12]:
csv_path = 'Wildfires_2.csv'
df2.to_csv(csv_path, index = False)

json_path = 'Wildfires_2.json'
df2.to_json(json_path, orient='records')